        <footer>
            <div>
                <p>&#169;&nbsp;2016 Chloe Boylan<br>
                Built with &#10084; using Node.js<br>
                <span style="color:#FFF;">Approved by Dr. Patty</span>
                </p>
                <ul id="social-links">
                    <li>
                        <a href="https://linkedin.com/in/chloe-boylan-aab644b6" target="_blank"><img src="https://s3-us-west-1.amazonaws.com/chloeb-personal/linkedin.png" width="15"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/animaldna" target="_blank"><img src="https://s3-us-west-1.amazonaws.com/chloeb-personal/twitter.png" width="15"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/chloebkfast/" target="_blank"><img src="https://s3-us-west-1.amazonaws.com/chloeb-personal/insta.png" width="15"></a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>
