<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chloe Boylan: Web Development and Digital Marketing</title>
    <meta name="description" content="Chloe Boylan is a San Diego based web developer, digital marketer, and AdWords Certified Professional. Get in touch today to discuss your project.">
    
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/material.min.css">
    <link rel="stylesheet" href="/public/css/material-grid.min.css">
    <script src="public/js/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>    
</head>
<body>
