<header>
    <div class="row">
        <div class="twelve columns">
            <section class="nav-links">
                <a href="/">
                <img alt="Chloe Boylan - Developer" id="header-logo"
                src="../public/images/logoSmall.png"></a>
                <ul>
                    <li>
                        <a class="underline" href=
                        "/services">services</a>
                    </li>
                    <li>
                        <a class="underline" href=
                        "/projects">projects</a>
                    </li>
                    <li>
                        <a class="underline" href="/about">about</a>
                    </li>
                    <li>
                        <a class="underline" href=
                        "/contact">
                        contact</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</header>