<% include partials/head %>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6col">
        <h1>hi, i'm chloe.</h1>
        <img src="/public/images/chloe.jpg" alt="Chloe with her favorite dogfriend, Luna" id="photo">
    </div>
</div>

<% include partials/footer %>