<% include partials/head %>
<title>Projects | Development &amp; Digital Marketing | chloeb.xyz</title>
<meta name="description" content="PUT CONTENT HERE OR ELSE">
</head>
<body class="animated fadeIn content-anim">
    <div class="container">
        <% include partials/nav %>
        <main>
              <h1>Projects</h1>
              <p>A sampling of my work can be found below below, though this list is by no means exhaustive. If you would like to see something different or would like more information about a listed project, <a href="/contact">I am happy to oblige.</a></p>
              <div class="row project-row">
                 <div class="three columns project-img">
                   <img src="../public/images/tunnel.png">
                 </div>
                 <div class="seven columns project-details">
                    <h3><span class="keyword">dev</span>&nbsp; LS internal tooling</h3>
                    <h4><em>node.js, mongodb, frontend</em></h4>
                    <p>Currently being developed in a modular format, this app will eventually serve as the main administration tool for <a href="http://www.legacysports4d3.com" target="_blank">Legacy Sports</a>. Modules include:</p>
                    <ul class="styled-ul">
                      <li>Magmi-ready CSV generator (Completed)</li>
                      <li>New store product selection wizard (Functioning/In Development)</li>
                      <li>Sales/Analytics Dashboard (Planned)</li>
                      <li>Client Onboarding Wizard (Planned)</li>
                    </ul>
                    <p>This is an internal tool and cannot be accessed by the public, but I would be happy to provide <a href="/contact">code samples upon request</a>.</p>
                 </div>
               </div>
               <div class="row project-row">
                 <div class="three columns project-img hvr-grow">
                   <a href="http://brookebyler.com/" target="_blank"><img src="../public/images/bbyler.png"></a>
                 </div>
                 <div class="seven columns project-details">
                    <h3><span class="keyword">seo</span>&nbsp; BBAS audit</h3>
                    <h4><em>seo audit, website/content optimization</em></h4>
                    <p>Brooke Byler Acting Studios, a <a href="http://sautecreative.com" target="_blank">Saut&#233 Creative</a> client, needed their content optimized for organic search. Organic search results jumped <strong>167%</strong> in the first 30 days following Phase 1, and BBAS is now on the first page of Google for many of their targeted search terms!</p>
                    <p><a href="http://brookebyler.com/" target="_blank">Website</a></p>
                 </div>
               </div>
               <div class="row project-row">
                 <div class="three columns project-img hvr-grow">
                   <a href="https://s3-us-west-1.amazonaws.com/chloeb-personal/LwtLO.pdf" target="_blank"><img src="../public/images/kbWf.png"></a>
                 </div>
                 <div class="seven columns project-details">
                    <h3><span class="keyword">dev</span>&nbsp; medium fidelity wireframe</h3>
                    <h4><em>wireframing, web development</em></h4>
                    <p>This wireframe was made for another <a href="http://sautecreative.com" target="_blank">Saut&#233 Creative</a> client who is in the process of rebranding a portion of their business.</p>
                    <p><a href="https://s3-us-west-1.amazonaws.com/chloeb-personal/LwtLO.pdf" target="_blank">PDF</a></p>
                 </div>
               </div>
               <div class="row project-row">
                 <div class="three columns project-img animated hvr-grow">
                   <a href="https://github.com/animaldna/geojson-choropleth" target="_blank"><img src="../public/images/Choropleth.png"></a>
                 </div>
                 <div class="nine columns project-details">
                    <h3><span class="keyword">dev</span>&nbsp; state of CA immunization rates choropleth</h3>
                    <h4><em>javascript, node.js, dataviz</em></h4>
                    <p>Interactive choropleth map made with GeoJSON and data from Socrata Open Data API (SODA). Data parsed with Node.js, map made with ZingChart.</p>
                    <ul class="project-links">
                      <li><a href="http://codepen.io/animaldna/full/wKNmKy/" target="_blank">Live map</a></li>
                      <li><a href="https://github.com/animaldna/geojson-choropleth" target="_blank">Code</a></li>
                      <li><a href="http://www.zingchart.com/blog/2015/11/17/how-to-make-a-choropleth-map/" target="_blank"> Associated tutorial</a></li>
                    </ul>
                 </div>
               </div>
               <div class="row project-row">
                 <div class="three columns project-img hvr-grow">
                   <a href="https://github.com/animaldna/ecommerce-dash" target="_blank"><img src="../public/images/dashboard.png"></a>
                 </div>
                 <div class="seven columns project-details">
                    <h3><span class="keyword">dev</span>&nbsp; dashboard design</h3>
                    <h4><em>dataviz, html/css/js</em></h4>
                    <p>Simple dashboard design to demonstrate best practices in information layout. Template from Keen.io, charts built with ZingChart.</p>
                    <ul class="project-links">
                      <li><a href="http://www.zingchart.com/demos/ecommerce-dashboard/" target="_blank">Live dashboard</a></li>
                      <li><a href="https://github.com/animaldna/ecommerce-dash" target="_blank">Code</a></li>
                      <li><a href="https://www.zingchart.com/blog/2015/07/16/4-steps-to-better-dashboard-design/" target="_blank">Associated blog post</a></li>
                    </ul>
                 </div>
               </div>
               <div class="row project-row">
                 <div class="three columns project-img hvr-grow">
                   <a href="http://webdesign.tutsplus.com/tutorials/how-to-use-jquery-with-zingchart--cms-23207" target="_blank"><img src="../public/images/jQueryTutorial.png"></a>
                 </div>
                 <div class="seven columns project-details">
                    <h3><span class="keyword">marketing</span>&nbsp; how to use jQuery with Zingchart</h3>
                    <h4><em>content gen, javascript</em></h4>
                    <p>Tuts+ article covering usage of the ZingChart jQuery wrapper.</p>
                    <p><a href="http://webdesign.tutsplus.com/tutorials/how-to-use-jquery-with-zingchart--cms-23207" target="_blank">Article</a></p>
                 </div>
               </div>
            </main>
<% include partials/footer %>
